<p id="notice"><%= notice %></p>

<p>
  <strong>Screening:</strong>
  <%= @showing.movie.title %>
  <%= @showing.screening %>
  <%= @showing.screen.name %>
  <% @showing.screen.seats.order(row: :asc, number: :asc).each do |seat| %>

        <%= seat.row %>;<%= seat.number %>
        
      <% end -%>   
</p>


