<p id="notice"><%= notice %></p>
<% title @movie.title.upcase + "- KINOPLEX" %>

		<div class="col-12 movieshow">
       <div class="col-6 movieshow">
        <%= link_to image_tag(@movie.image_url(:thumb)), image_path(@movie.image_url), :target => "_blank" %>
       </div>
       <div class="col-6 movieshow">
       <h1><%= @movie.title %></h1>
        <p><%= @movie.desc %></p>  
        </div>
        <div class="row"></div>
        <div class="col-6 movieshow">
        <p> Seanse: </p>
                
      <% @movie.showings.where('screening BETWEEN ? AND ?', DateTime.now.beginning_of_day, DateTime.now.next_month).order(screening: :asc).each do |showing| %>
      <div class="col-12">
        <p>

      <%= link_to showing.screening.strftime("%m/%d %H:%M ")+ showing.screen.name, {:controller => 'bookings', :action => 'new', :showing_id => showing.id} %> 
            </p> 
      </div>
      <% end -%>    


        </div>
        </div>




