<%= form_for([@showing,@booking]) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="auditorium">
  <div class="field">
    <%= f.label :name, 'Imię' %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :lastname, 'Nazwisko' %><br>
    <%= f.text_field :lastname %>
  </div>
    <div class="field">
    <%= f.label :phonenumber, 'Numer telefonu' %><br>
    <%= f.text_field :phonenumber %>
  </div>
    <%= f.submit 'WYBIERZ MIEJSCA', :class => 'col-12 button' %>
</div>
<% end %>
