<%= form_for([@booking,@reservedseat]) do |f| %>

  <%= form_tag({:action => 'create'}, {:multipart => true} ) %>
  <% i = 1 %>
  <div class="auditorium">
  <div style="screen">
<p>EKRAN</p>
</div>
  <% @reservedseat.booking.showing.screen.seats.order(row: :asc, number: :asc).each do |seat| %>
      <% if seat.row == i %>
      <div class="seat">
        <%= check_box_tag 'reservedseat[seat_ids][]', seat.id %>
        </div>
        <% else %>
        <div class="row"></div>
        <% i=i+1 %>
      <div class="seat">
        <%= check_box_tag 'reservedseat[seat_ids][]', seat.id %>
      </div>
        <% end %>

  <% end %>
  </div>
    <%= f.hidden_field :booking_id, :value => @booking_id %>
    <%= f.hidden_field :showing_id, :value => @booking.showing_id %>

    <%= f.submit 'DOKONAJ REZERWACJI', :class => 'col-12 button' %>

<% end %>
