<p id="notice"><%= notice %></p>

<h1>Listing Reservedseats</h1>

<table>
  <thead>
    <tr>
      <th>Seat</th>
      <th>Booking</th>
      <th>Showing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservedseats.each do |reservedseat| %>
      <tr>
        <td><%= reservedseat.seat_id %></td>
        <td><%= reservedseat.booking_id %></td>
        <td><%= reservedseat.showing_id %></td>
        <td><%= link_to 'Show', reservedseat %></td>
        <td><%= link_to 'Edit', edit_reservedseat_path(reservedseat) %></td>
        <td><%= link_to 'Destroy', reservedseat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservedseat', new_reservedseat_path %>
